@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Poppins;
  src: url("./Poppins-Regular.woff");
}
body {
  background: #fff;
  color: #000;
  font-family: Poppins;
}