@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind.css or main CSS file */
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Poppins;
  src: url("/Poppins-Regular.woff");
}
body {
  background: #fff;
  color: #000;
  font-family: Poppins;
}
.heading {
  letter-spacing: 1px;
  line-height: 1;
}

/* http code */
@import url(https://fonts.googleapis.com/css?family=Gilda+Display);


.static {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  top: -100px;
  opacity: 0.05;
  z-index: 230;
  user-select: none;
}

.error {
  text-align: center;
  font-family: 'Gilda Display', serif;
  font-size: 95px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60px;
  right: 0;
  animation: noise 2s linear infinite;
  overflow: default;
}

.error:after {
  content: '404';
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 150px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: blue;
  animation: noise-1 .2s linear infinite;
}

.info {
  text-align: center;
  font-family: 'Gilda Display', serif;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 140px;
  bottom: 0;
  left: 0;
  right: 0;
  animation: noise-3 1s linear infinite;
}

.error:before {
  content: '404';
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: red;
  animation: noise-2 .2s linear infinite;
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}  
  4.3% {opacity: 1; transform: scaleY(1.7);}
  43% {opacity: 1; transform: scaleX(1.5);}
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(4);}
  43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}

/* land page css */

.coverAttract {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  z-index: -1;
  /* overflow: hidden; */
  padding: 50px;
  row-gap: 15px;
}

.coverAttract::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* make fade from bottom */
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 9;
}

.shop-card {
  margin-top: 0px;
  width: 250px;
  background: white;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.075);
  border-radius: 5px;
  padding: 25px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
}

.shop-card figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none !important;
}

.shop-card figure img {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
}

.title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 19px;
  color: #23211f;
  margin-bottom: 5px;
}

.desc {
  font-size: 12px;
  opacity: 0.8;
  margin-bottom: 10px;
}

.cta {
  padding: 20px 20px 5px;
}

.cta::after {
  content: "";
  display: table;
  clear: both;
}

.price {
  color: #000000;
  font-size: 22px;
  font-weight: 900;
  padding-top: 2px;
  margin-top: 4px;
  transition: color 0.3s ease-in-out;
}

.btn {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  display: inline-block;
  border: none;
  font-size: 13px;
  text-transform: uppercase;
  padding: 12px 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 0.95;
  background: none;
  outline: none;
  border: 1px solid #000000;
  border-radius: 20px;
  color: #000000;
  background-color: #ffffff;
}

.btn .bg {
  width: 101%;
  height: 101%;
  display: block !important;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(180deg, #e0d09a, #000000);
}

.btn:hover {
  color: #eaeaea !important;
  background: #000;
  border: 1px solid transparent !important;
}

.btn:hover .bg {
  opacity: 1;
  border-radius: 20px;
}
